# Ajout allowPublicKeyRetrieval=true pour éviter les erreurs de connexion (Mysql 8+)
DATABASE_URL="mysql://user:password@localhost:3306/bd?allowPublicKeyRetrieval=true&useSSL=true"

# Clés secrètes pour JWT
JWT_SECRET=""
JWT_REFRESH_SECRET=""

# URL du frontend
FRONTEND_URL="http://localhost:5173"